* {
  margin: 0;
}

.navbar {
  background-color: #333;
  color: white;
  padding: 10px;
  height: 50px;
  width: auto;
  margin-left: auto;
  justify-content: space-between;
}

.nav_list {
  list-style-type: none;
  margin-top: 0.5%;

  li {
    display: inline;
  }

  a {
    text-decoration: none;
    color: white;
    padding-right: 10px;
    font-size: 190%;
  }
}

.right_nav {
  float: right;
  padding-right: 0.4%;
}

span {
  font-size: smaller;
  vertical-align: super;
  background-color: rgb(92, 85, 85);
  color: white;
  padding: 0px 5px;
  text-align: center;
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  .navbar {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .nav_list {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding: 0;
  }

  .right_nav {
    float: none;
    padding-right: 0;
  }

  a {
    padding-right: 0;
    font-size: 100%;
  }
}
